@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto Serif', serif;
  }
}

@layer components {
  .section {
    @apply flex flex-col items-center justify-center space-y-2 h-[192px];
  }
  .span {
    @apply countdown text-5xl;
  }
  .arrow {
    @apply hover:fill-warning hover:cursor-pointer;
  }
  .rotated {
    @apply rotate-180;
  }
}

html {
  font-size: 160%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

.bounce {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: 2;
}

@keyframes bounce {
  0% {
    transform: translateY(100px) scale(1.1);
  }
  25% {
    transform: translateY(120px);
  }
  50% {
    transform: translateY(100px) scale(1.1);
  }
  75% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(100px) scale(1.1);
  }
}

.arrow * {
  pointer-events: none;
}
